body {
    margin: 0;
    font-size: 2rem;
    display: flex;
    min-height: 100vh;
}
main{
    border:1px solid;
    /* flex: 1; */
    background-color: rgb(173, 218, 255);
    width: 700px;
    margin: 0 auto;

}

aside{
    width: 25%;
    min-width:250px;
    display: flex;
    flex-direction: column;
    border:1px solid;
    background-color: rgb(210, 239, 250);
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

li{
    background-color: rgb(118, 205, 255);
    border:1px solid;
}

div {
    border:1px solid;
    background-color: rgb(120, 165, 202);
    height: 300px;
    margin-top: auto;
}
/* ハンバーガー */
.open,
.close {
    display: none;
}

input[type="checkbox"]{
    position: absolute; 
    left: -50vw;
}